<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.uncommon.playbook.sortedlist">

  <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".part3.DatasetActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".ArticleSortOptionsActivity"/>
    <activity android:name=".BasicSortedArticlesActivity"/>
    <activity android:name=".SectionArticlesActivity"/>
    <activity android:name=".part1.IntegerListActivity" android:label="Integer List"/>
    <activity android:name=".part2.SortedListExplorationActivity"
        android:label="SortedList Exploration"/>
    <!--<activity android:name=".part3.DatasetActivity"/>-->
  </application>

</manifest>